<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VirtualCoach.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8ABE3D881C78F77300AF659B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ABE3DA11C78F77300AF659B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ABE3DAC1C78F77300AF659B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
